.container{
    font-size: 20px;
}

.mini{
    font-size: 1rem;
}

.container2{
    margin:15px
}

.redBox{
    height:50vh;
    width:10vw;
    background-color: red;
}
.blueBox{
    height:20vh;
    width:100vw;
    background-color: blue;
}